<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>

    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>

</head>
<body>

    <div id="app" class="globalContainer">
        <div class="container">
            <!--Colonna di sinistra-->
            <div class="leftColumn">

                <!--Mio profilo-->
                <nav class="myProfile">
                    <div class="myImg">
                        <img src="img/avatar_4.jpg" alt="">
                    </div>
                    <div class="distanziatore"></div> 
                    <div class="icone">                        
                        <i class="fas fa-circle-notch"></i>
                        <i class="far fa-comment-alt"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>          
                </nav>

                <!--Barra notifiche-->
                <nav class="notfication">
                    <div class="myNotification">
                        <i class="far fa-bell-slash"></i>
                    </div>
                    <div>
                        <div><b>Ricevi notifiche di nuovi messaggi</b></div>

                        <a href="#">Attiva notifiche desktop</a>
                    </div>                     
                </nav>
                <!--Barra di ricerca-->
                <nav class="search">
                    <div class="barraDiRicerca">
                        <i class="fas fa-search"></i>
                        <input type="search" placeholder="Cerca o inizia una nuova chat" v-model="searchText" @keyup="search">
                    </div>
                </nav>

                <!--Miei contatti-->
                <div class="myContacts">

                    <div class="contctsSpace" :class="(userActive == usersList[indice] ? 'contact-active' : null)"  v-for="(user, indice) in usersList" @click="changeActiveUser(indice)" v-if="user.visible">

                        <div class="contactsImg">
                            <img :src="getAvatarPath(user.avatar)" alt="">
                        </div> 

                        <div class="nomeContatto">
                            <b>{{user.name}}</b>
                            <br>
                            <span>Messaggi non letti</span>
                        </div>

                    </div>

                </div>
            </div>

            <!--Colonna di destra-->
            <div class="rightColumn">

                <!--Con chi sto chattando-->
                <div class="contatChat">
                    <div class="imgMessaggiato">
                        <img :src="getAvatarPath(userActive.avatar)" alt="">
                    </div>
                    <div class="nomeMessaggiato">
                        <b>{{userActive.name}}</b>
                        <br>
                        <span>Ultimo accesso</span>
                    </div>
                    <div class="iconeMessaggiato">
                        <i class="fas fa-search"></i>
                        <i class="fas fa-paperclip"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>

                <!--Messaggistica-->
                <div class="mainChat">
                    
                    <div class="message" :class="{received: message.status === 'received', sent: message.status === 'sent'}"
                        v-for="(message, indice) in userActive.messages" :key="indice">
                        
                        {{message.text}}

                        <!--<div class="formatTime">

                        </div>-->

                    </div>
                    
                    
                </div>

                <!--Scrittura del messaggio-->
                <div class="textChat">

                    <div class="emoticon">
                        <i class="far fa-smile-beam"></i>
                    </div>
                    <div class="text">
                        <input type="text" placeholder="Scrivi un messaggio" v-model="newMessage" @keyup.enter="sendMessage">
                    </div>
                    <div class="sendMessagge">
                        <i class="fab fa-telegram-plane"></i>
                    </div>

                </div>
            </div>
        </div>
    </div>
    
    <script src="data.js"></script>
    <script src="script.js"></script>
</body>
</html>