*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/*PARTE DI SINISTRA*/

.globalContainer{
    height: 100vh;
    background-color: rgb(26, 92, 70);
    padding: 40px 70px;
}

.container{
    background-color: white;
    display: flex;
    height: 90vh;
}

.leftColumn{
    width: 30%;
    height: 100%;
    border-right: 2px solid lightgray;
}

.myProfile{
    height: 60px;
    display: flex;
    background-color: rgb(236, 233, 233);
}
.myImg img{
    height: 60px;
    border-radius: 50%;
}
.distanziatore{
    flex-grow: 1;
}
.icone i{
    padding-top: 20px;
    font-size: 20px;
    margin: 0px 10px;
}

.notfication{
    height: 70px;
    background-color: rgb(132, 197, 240);
    padding: 10px;
    display: flex;
}
.myNotification{
    width: 50px;
    height: 100%;
    border-radius: 50%;
    background-color: white;
    margin-right: 20px;
    
}
.myNotification i{
    padding: 15px;
    color: rgb(132, 197, 240);
}

.search{
    height: 40px;
    padding: 5px 10px;
    background-color: rgb(236, 233, 233) ;
    
}
.barraDiRicerca{
    background-color: white;
    height: 30px;
    border-radius: 15px;
    display: flex;
    padding: 7px;
}
.barraDiRicerca input{
    margin-left: 10px;
    width: 300px;
    border-color: transparent;
}
.contctsSpace{
    height: 60px;
    border-bottom: 1px solid lightgray;
    display: flex;
}
.contactsImg img{
    height: 60px;
    border-radius: 50%;
}
.nomeContatto{
    padding: 10px 15px;
}
.myContacts{
    overflow-y: scroll;
}

/*PARTE DI DESTRA*/
.rightColumn{
    width: 70%;
}
.contatChat{
    height: 60px;
    border-bottom: 1px solid lightgray;
    background-color:rgb(236, 233, 233);
    display: flex;
}
.contatChat i{
    font-size: 18px;
    margin: 0 10px;
}
.mainChat{
    height: 480px;
    background-image: url(img/mine.jpg);
    border-bottom: 1px solid lightgray;
    overflow-y: scroll;
    /*****/
    display: flex;
    flex-direction: column;
}
.textChat{
    background-color:rgb(236, 233, 233);
    height: 50px;
    display: flex;
    padding: 15px;
}
.textChat i{
    font-size: 20px;
}
.text{
    flex-grow: 1;
}
.text input{
    border-color: transparent;
    width: 95%;
    margin-left: 10px;
    height: 20px;
    border-radius: 10px;
}
.nomeMessaggiato{
    flex-grow: 1;
}
.imgMessaggiato img{
    height: 60px;
    border-radius: 50%;
}
.nomeMessaggiato,
.iconeMessaggiato{
    padding: 15px;
}
.contact-active {
    background-color: #e0d9d9;
}
.message.received{    
    padding: 20px;
    margin: 5px;
    background-color: rgb(224, 235, 184);
    border-radius: 10px;
    align-self: flex-start;
    
}
.message.sent{
    background-color: rgb(155, 204, 155);
    padding: 20px;
    margin: 5px;
    border-radius: 10px;
    align-self: flex-end;
}
.formatTime{
    text-align: right;
    font-size: 12px ;
}
input[type="text"],
input[type="search"]{
    appearance: none;
    outline: none;
}

/*FRECCE PER INFO E DISTRUZIONE MESSAGGIO*/
.message:hover .message-options.sent,
.message:hover .message-options.received{
    display: block;
}
.message .message-options.sent,
.message .message-options.received {
    display: none;
    color: #929692;
    cursor: pointer;
    position: relative;
    top: -30px;
    right: 16px;    
}
.message .message-options.sent.active .message-options-panel.sent,
.message .message-options-panel.received {    
    width: 150px;
    height: 70px;
    background: white;
    box-shadow: 0px 0px 40px -15px rgba(0, 0, 0, 0.75);
}

/*.message .message-options-panel.sent.active,
.message .message-options-panel.received.active{
    display: block;
}

.message .message-options-panel.sent>div,
.message .message-options-panel.received>div {
    cursor: pointer;
    width: 100%;
    height: 50%;
    line-height: 40px;
    font-size: 14px;
    text-align: center;
}

.message .message-options-panel.sent>div:hover,
.message .message-options-panel.received>div:hover {
    color: #B6B9BB;
}*/










